# Extract

## MONGO DB
Use sample AirBnB listings database from MongoDB

In [1]:
#!pip install pymongo

### Import relevant libraries

In [2]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

### Connect to MongoDB instance

In [3]:
#host_name = "localhost"
#port = "27017"

atlas_cluster_name = "cluster0.0zywi.mongodb.net"
atlas_default_dbname = "test"
atlas_user_name = "ds2002"
atlas_password = "UVA!1819"

In [4]:
conn_str = {
  #  "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

#print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Atlas Connection String: mongodb+srv://ds2002:UVA!1819@cluster0.0zywi.mongodb.net/test

###  Creating Databases, Collections, and Documents

In [5]:
client.list_database_names()
db = client['sample_airbnb']
airbnb = client.sample_airbnb
listings = db.listingsAndReviews

In [14]:
## import and flatten dataframe
from pandas.io.json import json_normalize
datapoints = list(db.listingsAndReviews.find({}))
df = json_normalize(datapoints)
df.head()

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,review_scores.review_scores_accuracy,review_scores.review_scores_cleanliness,review_scores.review_scores_checkin,review_scores.review_scores_communication,review_scores.review_scores_location,review_scores.review_scores_value,review_scores.review_scores_rating,weekly_price,monthly_price,reviews_per_month
0,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,9.0,9.0,10.0,10.0,10.0,9.0,89.0,NaN,NaN,NaN
1,10021707,https://www.airbnb.com/rooms/10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,,Here exists a very cozy room for rent in a sha...,,,,,...,10.0,10.0,10.0,10.0,8.0,8.0,100.0,NaN,NaN,NaN
2,1001265,https://www.airbnb.com/rooms/1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,Great studio located on Ala Moana across the s...,A short distance from Honolulu's billion dolla...,You can breath ocean as well as aloha.,,Honolulu does have a very good air conditioned...,"Pool, hot tub and tennis",...,9.0,8.0,9.0,9.0,10.0,9.0,84.0,650.00,2150.00,NaN
3,10082422,https://www.airbnb.com/rooms/10082422,Nice room in Barcelona Center,Hi! Cozy double bed room in amazing flat next...,Nice flat in the central neighboorhood of Eixa...,Hi! Cozy double bed room in amazing flat next...,Dreta de l'Eixample,,,Ideal couple or 2 friends.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10030955,https://www.airbnb.com/rooms/10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,,Quarto com vista para a Lagoa Rodrigo de Freit...,,,,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Subsetting the database by column to create a dataframe of listings that will populate the fact table

In [15]:
factcols  = ['_id', 'name', 'property_type', 'price', 'bedrooms', 'bathrooms', 
         'first_review', 'last_review',
         'host.host_id',
         'address.street',
         'address.country',
         'address.country_code'
     ]

fact_df = df[factcols]

#rename columns
fact_df = fact_df.rename(columns = {'_id': 'id', 'host.host_id': 'host_id', 'address.street': 'street', 'address.country': 'country','address.country_code': 'country_code'  })

Clean the dataframe

In [16]:
# drop nas
fact_df = fact_df.dropna()

# convert data types
fact_df = fact_df.astype({'id':'int','host_id':'int', 'bedrooms':'int'})
fact_df['price'] = fact_df.price.astype(str).astype(float)
fact_df['bathrooms'] = fact_df.bathrooms.astype(str).astype(float)

### Create a dataframe for host information that will populate a dimension table

In [17]:
hostcols = ['host.host_id',
         'host.host_name',
         'host.host_url',
         'host.host_response_rate',
         'host.host_is_superhost',
         'host.host_total_listings_count']

host_df = df[hostcols]

Clean the dataframe

In [18]:
#stripping the 'host.host_' from the column names
host_df = host_df.rename(columns=lambda x: x.replace('host.host_', ''))

#rename id column
host_df = host_df.rename(columns  ={'id':'host_id'})

# change data tyeps
host_df = host_df.astype({'host_id':'int','name':'str','url':'str', 'response_rate':'float'})

#keep if value is not nan
host_df = host_df[host_df['response_rate'].notna()]

#remove duplicates in host_id column 
host_df = host_df.drop_duplicates(subset='host_id', keep="first")

In [19]:
#keep in fact table if host id is in  host_df
hostids = host_df.host_id.unique()
fact_df = fact_df[fact_df['host_id'].isin(hostids)]

#removing duplicates in fact_id column
fact_df = fact_df.drop_duplicates(subset='id', keep="first")

## API
Request data from the World Bank Indicators API
Read more <https://datahelpdesk.worldbank.org/knowledgebase/articles/898581-api-basic-call-structure>

In [36]:
import requests

##need to add try except block

In [37]:
#!pip install wbgapi
import wbgapi as wb

In [38]:
country_df = wb.data.DataFrame(['SP.POP.TOTL','SL.UEM.TOTL.ZS','NY.GDP.PCAP.CD','FP.CPI.TOTL.ZG'],['AUS','BRA','CAN','CHN','SPA','HKG','PRT','USA','TUR'], 2020)

In [39]:
#FP.CPI.TOTL.ZG = Inflation, consumer prices (annual %)
#SP.POP.TOTL = population, total
#SL.UEM.TOTL.ZS = Unemployment, total (% of total labor force) (modeled ILO estimate)
#NY.GDP.PCAP.CD = GDP per capita (current $US)

In [40]:
country_df = country_df.rename(columns={'SP.POP.TOTL': 'population',"FP.CPI.TOTL.ZG": "inflation", 'SL.UEM.TOTL.ZS': "unemployment", 'NY.GDP.PCAP.CD':'gdp'},
                              index = {'AUS':'AU', 'BRA':'BR', 'CAN':'CA', 'CHN':'CN', 'HKG':'HK', 'PRT':'PT', 'TUR':'TR', 'USA':'US'})

country_df = country_df.reset_index()

## Import CSV
Using COVID-19 Data from Kaggle
https://www.kaggle.com/datasets/bitsnpieces/covid19-country-data?select=covid19_data+-+property_prices.csv

In [41]:
url = 'https://raw.githubusercontent.com/treypallace/DS2002Project/main/covid19_data%20-%20property_prices.csv'
covid = pd.read_csv(url,index_col=0)

In [42]:
countries = ['Australia', 'Brazil', 'Canada', 'China', 'Hong Kong', 'Portugal', 'United States', 'Turkey']
countrycodes = ['AUS','BRA','CAN','CHN','SPA','HKG','PRT','USA','TUR']
covid_df =  covid[covid['Country'].isin(countries)]

In [43]:
#rename column names
covid_df = covid_df.rename(columns={'Price To Income Ratio': 'price_income',"Gross Rental Yield City Centre": "rental_yield_centre", 'Gross Rental Yield Outside of Centre': "rental_yield_outside_centre", 'Price To Rent Ratio City Centre':'price_rent_centre','Price To Rent Ratio Outside Of City Centre':'price_rent_outside_centre','Mortgage As A Percentage Of Income':'mortgage_percent', 'Affordability Index':'affordability'})
                               

#use shorten country codes that match the other data sources
covid_df['Country'] = covid_df['Country'].replace(['Australia' ,'Brazil', 'Canada', 'China', 'Hong Kong', 'Portugal', 'Turkey', 'United States'], ['AU', 'BR', 'CA','CN', 'HK','PT', 'TR', 'US'])

#join with country data from API
countries_df = pd.concat([country_df.set_index('economy'),covid_df.set_index('Country')], axis=1, join='inner').reset_index()
countries_df = countries_df.rename(columns = {'index':'country_code'})


#remove duplicates in country code column 
countries_df = countries_df.drop_duplicates(subset='country_code', keep="first")

### Here is the fact table and the two dimension tables

In [44]:
fact_df

,id,name,property_type,price,bedrooms,bathrooms,first_review,last_review,host_id,street,country,country_code
0,10006546,Ribeira Charming Duplex,House,80.0,3,1.0,2016-01-03 05:00:00,2019-01-20 05:00:00,51399391,"Porto, Porto, Portugal",Portugal,PT
2,1001265,Ocean View Waikiki Marina w/prkg,Condominium,115.0,1,1.0,2013-05-24 04:00:00,2019-02-07 05:00:00,5448114,"Honolulu, HI, United States",United States,US
5,10057826,Deluxe Loft Suite,Apartment,205.0,0,1.0,2016-01-03 05:00:00,2018-02-18 05:00:00,47554473,"Brooklyn, NY, United States",United States,US
11,1003530,New York City - Upper West Side Apt,Apartment,135.0,1,1.0,2013-04-29 04:00:00,2018-08-12 04:00:00,454250,"New York, NY, United States",United States,US
12,10051164,Catete's Colonial Big Hause Room B,House,250.0,1,4.0,2016-02-10 05:00:00,2016-02-10 05:00:00,51326285,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR
...,...,...,...,...,...,...,...,...,...,...,...,...
5544,9810515,"Big 2bdm, Views, WIFI and carpark",Apartment,299.0,2,1.0,2015-12-17 05:00:00,2019-02-11 05:00:00,33325403,"Woolloomooloo, NSW, Australia",Australia,AU
5546,9744478,Cosy Flat 1 Block from Leblon Beach,Serviced apartment,351.0,1,1.0,2016-02-12 05:00:00,2016-08-20 04:00:00,7870855,"Rio de Janeiro, Rio de Janeiro, Brazil",Brazil,BR
5549,9612902,1921 15kms from Sydney CBD with Pool Spa parking.,House,387.0,5,3.0,2015-12-30 05:00:00,2019-01-27 05:00:00,36900518,"Carlton, NSW, Australia",Australia,AU
5551,9815988,Historical Terrace House,Townhouse,78.0,1,1.0,2017-01-01 05:00:00,2017-01-01 05:00:00,6072477,"Centennial Park, NSW, Australia",Australia,AU
5554,9944044,Sanctuary Bundeena,Bed and breakfast,250.0,1,1.0,2016-06-12 04:00:00,2016-06-12 04:00:00,51104303,"Bundeena, NSW, Australia",Australia,AU

In [45]:
host_df

,host_id,name,url,response_rate,is_superhost,total_listings_count
0,51399391,Ana&Gonçalo,https://www.airbnb.com/users/show/51399391,100.0,False,3
2,5448114,David,https://www.airbnb.com/users/show/5448114,98.0,False,18
5,47554473,Mae,https://www.airbnb.com/users/show/47554473,100.0,False,13
6,7140229,Caro,https://www.airbnb.com/users/show/7140229,100.0,False,1
8,51289938,Ken,https://www.airbnb.com/users/show/51289938,90.0,False,6
...,...,...,...,...,...,...
5541,10180380,Rosa,https://www.airbnb.com/users/show/10180380,88.0,False,3
5546,7870855,Maria,https://www.airbnb.com/users/show/7870855,100.0,False,1
5549,36900518,Heidi,https://www.airbnb.com/users/show/36900518,100.0,False,1
5551,6072477,Pascale,https://www.airbnb.com/users/show/6072477,100.0,False,3
5554,51104303,Sara And Scott,https://www.airbnb.com/users/show/51104303,100.0,False,1

In [46]:
countries_df

,country_code,inflation,gdp,unemployment,population,price_income,rental_yield_centre,rental_yield_outside_centre,price_rent_centre,price_rent_outside_centre,mortgage_percent,affordability
0,AU,0.846906,51720.370763,6.46,2.565529e+07,7.52,4.47,4.67,22.35,21.43,55.61,1.80
1,BR,3.211768,6794.489159,13.93,2.131963e+08,16.41,4.11,4.32,24.32,23.16,188.61,0.53
2,CA,0.717000,43258.263872,9.46,3.803720e+07,7.97,4.29,5.28,23.33,18.94,56.41,1.77
3,CN,2.419422,10408.669756,5.00,1.411100e+09,29.06,1.71,1.91,58.34,52.38,231.68,0.43
4,HK,0.250962,46107.765276,5.81,7.481000e+06,47.46,1.77,1.83,56.45,54.74,303.35,0.33
5,PT,-0.012438,22242.406418,6.80,1.029708e+07,12.70,5.04,6.11,19.85,16.38,79.24,1.26
6,TR,12.278957,8561.070948,13.11,8.413543e+07,7.81,5.53,5.95,18.09,16.81,155.46,0.64
7,US,1.233584,63530.633484,8.05,3.315011e+08,3.52,10.36,11.23,9.65,8.90,26.35,3.79

# Creating SQL Database

### Installing Necessary Libraries

In [54]:
#!pip install PyMySQL
#!pip install mysql-connector-python
#!pip install sqlalchemy
import os
import pymysql
import mysql.connector
from getpass import getpass
from mysql.connector import connect, Error
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [55]:
host_name = "127.0.0.1"
user_id = "root"
pwd = "mysqlpwd"
db_name = "airbnb"

### Connect to MySQL server and Create database named 'airbnb'

In [56]:
try:
    with connect(
        host=host_name,
        user=user_id,
        password=pwd,
    ) as connection:
        create_db_query = "CREATE DATABASE airbnb"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)

### Connect to database

In [57]:
try:
    with connect(
        host=host_name,
        user=user_id,
        password=pwd,
        database="airbnb",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection.MySQLConnection object at 0x7fa234001a00>

### Creating Dimension Tables
Create a dimension table named 'countries' that will be populated form the countries dataframe

In [58]:
create_countries_table_query = """ 
CREATE TABLE countries (
  country_code VARCHAR(2) PRIMARY KEY,
  inflation FLOAT,
  gdp FLOAT,
  unemployment FLOAT,
  population FLOAT,
  price_income FLOAT,
  rental_yield_centre FLOAT,
  rental_yield_outside_centre FLOAT,
  price_rent_centre FLOAT,
  price_rent_outside_centre FLOAT,
  mortgage_percent FLOAT,
  affordability FLOAT
)
 """
    
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_countries_table_query)
    cursor.close()
    
except Error as e:
    print (e)

Create a dimension table named 'hosts' that will be populated form the host dataframe

In [59]:
create_hosts_table_query = """
CREATE TABLE hosts (
  host_id INT PRIMARY KEY,
  name VARCHAR(255),
  url VARCHAR(255),
  response_rate FLOAT,
  is_superhost BIT(1),
  total_listings_count INT
)
"""
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_hosts_table_query)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

Create a date dimension table

In [70]:
create_dim_date = """
CREATE TABLE dim_date(
 date_key int NOT NULL,
 full_date date NULL,
 date_name char(11) NOT NULL,
 date_name_us char(11) NOT NULL,
 date_name_eu char(11) NOT NULL,
 day_of_week tinyint NOT NULL,
 day_name_of_week char(10) NOT NULL,
 day_of_month tinyint NOT NULL,
 day_of_year smallint NOT NULL,
 weekday_weekend char(10) NOT NULL,
 week_of_year tinyint NOT NULL,
 month_name char(10) NOT NULL,
 month_of_year tinyint NOT NULL,
 is_last_day_of_month char(1) NOT NULL,
 calendar_quarter tinyint NOT NULL,
 calendar_year smallint NOT NULL,
 calendar_year_month char(10) NOT NULL,
 calendar_year_qtr char(10) NOT NULL,
 fiscal_month_of_year tinyint NOT NULL,
 fiscal_quarter tinyint NOT NULL,
 fiscal_year int NOT NULL,
 fiscal_year_month char(10) NOT NULL,
 fiscal_year_qtr char(10) NOT NULL,
  PRIMARY KEY (`date_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8
"""

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_dim_date)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

### Create Fact Table
This fact table will be poulated from the fact_df dataframe containing all the airbnb listings
The schema is set up here. The host_id will reference the hosts table and the country_code will reference the countries table

In [63]:
create_listings_table_query = """
CREATE TABLE listings (
  id INT PRIMARY KEY,
  name VARCHAR(255),
  property_type VARCHAR(50),
  price FLOAT,
  bedrooms INT,
  bathrooms FLOAT,
  first_review DATE,
  last_review DATE,
  host_id INT,
  street VARCHAR(255),
  country VARCHAR(50),
  country_code VARCHAR(2),
  FOREIGN KEY (host_id) REFERENCES hosts (host_id),
  FOREIGN KEY (country_code) REFERENCES countries (country_code)
)
"""
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(create_listings_table_query)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

## Populating the SQL Tables

Populate the countries table

In [65]:
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
# create cursor
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in countries_df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in countries_df.iterrows():
    sql = "INSERT INTO countries (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    conn.commit()

Populate the hosts table

In [66]:
#Populate the countries table create cursor
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in host_df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in host_df.iterrows():
    sql = "INSERT INTO hosts (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))

    conn.commit()

In [31]:
checks = """
SET GLOBAL FOREIGN_KEY_CHECKS=0
"""

conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
cursor = conn.cursor()

try:
    cursor.execute(checks)
    cursor.close()
    
except Error as e:
    print (e)
conn.close()

Populate the listings table

In [67]:
conn = pymysql.connect(host=host_name, user=user_id, password=pwd, database=db_name)
# create cursor
cursor=conn.cursor()

# creating column list for insertion
cols = ",".join([str(i) for i in fact_df.columns.tolist()])

# Insert DataFrame recrds one by one.
for i,row in fact_df.iterrows():
    sql = "INSERT INTO listings (" +cols + ") VALUES (" + "%s,"*(len(row)-1) + "%s) ON DUPLICATE KEY UPDATE id=id" 
    cursor.execute(sql, tuple(row))

    conn.commit()

Find the earliest and latest date. Jan 1 of the earliest year and Dec 31 of latest year will be used to populate the date dimension table.

In [68]:
## find the earliest date  
fact_df['first_review'].min()

Timestamp('2009-10-27 04:00:00')

In [69]:
## find the latest date
fact_df['last_review'].max()

Timestamp('2019-03-11 04:00:00')

### Populate Date Dimension
#### Run the SQL code in GitHub

# SQL Queries
### See attached SQL code in GitHub